html {
    overflow-x: hidden;
    text-align: center;
    margin: 0px;
    padding: 0px;
}

body {
    font-size: 1.1rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 300;
    overflow: visible;
    margin: 0px;
    padding: 0px;
    /* background-color: rgba(132, 180, 249, 1); */
    background-color: rgba(121, 148, 181, 1);
    color: black;
}

h1 {
    /* font-family: 'Philosopher', sans-serif;
    font-weight: 400; */
    font-size: 3.5rem;
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1em;
    padding-top: 30vh;
    padding-bottom: 0;
    color: black;
    padding-left: 15vw;
    padding-right: 15vw;
}

h2 {
    font-size: 2rem;
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: 500;
    line-height: 1em;
    padding-top: 0;
    padding-bottom: 2.5vh;
    padding-left: 15vw;
    padding-right: 15vw;
    color: black;
}


hr {
    border: 0.5px black solid;
}


footer {
    width: 100vw;
    height: 50vh;
    background-color: indianred;
}


#cover {
    margin: 0px;
    width: 100vw;
    height: 100vh;
    /* background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgb(255, 255, 255, 0.6)); */
    background-color: aquamarine;
    overflow-y: scroll;

}


#myVideo {
    position: fixed;
    z-index: -99;
    right: 0;
    top: 0;
    min-width: 100%;
    min-height: 100%;
    pointer-events: none;

}


#part_1,
#part_2,
#part_3,
#part_4 {
    width: 100vw;
    /* height: 100vh; */
    background-color: rgba(255, 255, 255, 0.6);
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15vh;
    padding-bottom: 20vh;
    /* padding-left: 10vw;
    padding-right: 10vw; */

    /* border-top: 1px black solid; */
    /* border-bottom: none; */
}


#part_5 {
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0), rgb(255, 255, 255, 0.6));
    margin-top: 0px;
    margin-bottom: 0px;
    padding-top: 15vh;
    padding-bottom: 20vh;
}

#part_1 {
    background-color: bisque;
}

#part_2 {
    background-color: cadetblue;
}

#part_3 {
    background-color: darkkhaki;
}


#part_4 {
    background-color: coral;
}


#part_5 {
    background-color: darkseagreen;
}

.vl_01 {
    margin-top: 60px;
    float: right;
    width: 50vw;
    border-left: 1px solid black;
    height: 50%;
}

.vl_02 {
    margin-top: 60px;
    float: right;
    width: 40vw;
    border-left: 1px solid black;
    height: 200px;
}

.description {
    padding-bottom: 30px;
    padding-left: 25vw;
    padding-right: 25vw;
    line-height: 1.5em;
}


.btn {
    z-index: 99;
    color: black;
    border: 1px black;
    border-style: solid;
    padding: 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    font-size: 1.1rem;
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: 400;
}

button.btn:hover {
    border: 1px black;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: 0.3s;
}



/* ===== Intro =========*/


.name {
    font-size: 0.8rem;
    padding-top: 5vh;
    padding-bottom: 5vh;
}

.intro {
    display: inline-block;
    padding-top: 0;
    padding-bottom: 0;
}

.viewButton {
    /* position: fixed;
    display: block; */
    z-index: 99;
    margin: 0;
    padding-left: 10vw;
    padding-right: 10vw;
}

#btn_cover_1 {
    z-index: 999;
    display: block;
    position: fixed;
    top: 0px;
    right: 0;
    margin-top: 10vh;
    margin-right: -25px;
    margin-left: 0px;
    margin-bottom: 0px;
    padding: 0;
    transform: rotate(90deg);
    color: black;

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0);

    font-size: 1.1rem;
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: 400;
}

#btn_cover_2 {
    z-index: 999;
    display: block;
    position: fixed;
    float: inline-end;
    top: 10px;
    right: 10px;
    margin-top: 90vh;
    margin-left: 10px;
    margin-bottom: 0px;
    padding: 0;
    transform: rotate(90deg);
    color: black;
    background-color: rgba(255, 255, 255, 0);

    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom: 1px solid black;
    background-color: rgba(255, 255, 255, 0);

    color: black;
    font-size: 1.1rem;
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: 400;
}

button#btn_cover_1:hover {
    border-top: none;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: 0.3s;
}

button#btn_cover_2:hover {
    border-top: none;
    border-left: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0);
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: 0.3s;
}


/* ===== Part 1: 580 photos =========*/

#cloudphoto_day1,
#cloudphoto_day2,
#cloudphoto_day3,
#cloudphoto_day4,
#cloudphoto_day5,
#cloudphoto_day6 {
    opacity: 1.0;
    transition: opacity 1s linear;
}

#cloudphoto_day1.fade-out,
#cloudphoto_day2.fade-out,
#cloudphoto_day3.fade-out,
#cloudphoto_day4.fade-out,
#cloudphoto_day5.fade-out,
#cloudphoto_day6.fade-out {
    opacity: 0.3;
}


#btn_part1_1 {
    margin-left: 0vw;
    margin-right: 0vw;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 1);
}

#btn_part1_2 {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 1);
}

#btn_part1_3 {
    margin-left: 0vw;
    margin-right: 0vw;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 1);
}

#btn_part1_4 {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 1);
}


#btn_part1_5 {
    margin-left: 0vw;
    margin-right: 0vw;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 1);
}


#btn_part1_6 {
    margin-left: 0.5vw;
    margin-right: 0vw;
    margin-bottom: 5px;
    background-color: rgba(255, 255, 255, 1);
}

#btn_part1_1:hover,
#btn_part1_2:hover,
#btn_part1_3:hover,
#btn_part1_4:hover,
#btn_part1_5:hover,
#btn_part1_6:hover {
    border: 1px black;
    border-style: solid;
    background-color: rgba(255, 255, 255, 0);
    cursor: pointer;
    transition: 0.3s;
}

#btn_part1_1.fade-out,
#btn_part1_2.fade-out,
#btn_part1_3.fade-out,
#btn_part1_4.fade-out,
#btn_part1_5.fade-out,
#btn_part1_6.fade-out {
    background-color: rgba(255, 255, 255, 0);
    /* color: rgba(0, 0, 0, 0.3); */
    opacity: 0.3;
}

/* .photos {
    display: flex;
} */

.photos {
    padding-top: 30px;
    padding-left: 15vw;
    padding-right: 15vw;
}

.photos img {
    max-width: 100px;
    cursor: zoom-in;
}

.popupContainer {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    padding: 0px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.3s ease;

}

.popupContainer img {
    max-width: 100%;
    max-height: 100%;
}

.popupContainer.show {
    opacity: 1;
}



/* ===== Part 2: The most seen cloud type =========*/

#Slides {
    padding-left: 15vw;
    padding-right: 15vw;
}

/* .mySlides {
    display: block;
} */

.numbertext {
    padding-top: 30px;
    padding-bottom: 30px;
}

#underline_part2 {
    font-family: Philosopher;
    font-size: 1.2rem;
    font-weight: 700;
    text-decoration: underline;
}


#buttonControl {
    display: flex;
    justify-content: space-between;
    width: 100vw;
    position: absolute;
    z-index: 99;
    margin: 0;
    margin-top: 20px;
}

#btnPrev {
    margin-left: 30vw;
    padding-left: 15px;
    padding-right: 15px;
}

#btnNext {
    margin-right: 30vw;
    padding-left: 15px;
    padding-right: 15px;
}

#chart_0,
#chart_1,
#chart_2,
#chart_3,
#chart_4,
#chart_5,
#chart_6 {
    float: center;
    /* width: 100%; */
    text-align: center;
    background-color: rgba(255, 255, 255, 0.3);
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    overflow: scroll;
    border-radius: 30px;
}

/* in chart */
#hover_text {
    pointer-events: none;
    font-size: 0.7rem;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

/*======== Part 3: Time & Altitude =======*/

#hover_text_1 {
    pointer-events: none;
    font-size: 1.1em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

#hover_text_2 {
    pointer-events: none;
    font-size: 1.1em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

#hover_line {
    pointer-events: none;
}

#linechart_x {
    position: absolute;
    /* background-color: rgba(0, 128, 0, 0.499); */
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    margin-top: -30px;
    margin-left: 75vw;
}

#xAxis_tick line {
    stroke-width: 0.8px;
}

#linechart_y {
    position: absolute;
    /* background-color: rgba(0, 128, 0, 0.499); */
    margin-top: -403px;
    float: left;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
}

.scrollChart {
    overflow-x: scroll;
    overflow-y: hidden;
    margin: 0px;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px 30px 10px 10px;
}

.scrollChart::-webkit-scrollbar {
    /* width of the entire scrollbar */
    height: 10px;
    background-color: none;

}

.scrollChart::-webkit-scrollbar-track {
    background: none;
    border-radius: 20px;
    /* color of the tracking area */
    border: 1px solid black;

}

.scrollChart::-webkit-scrollbar-thumb {
    background-color: white;
    border-radius: 30px;
    border: 1px solid black;

}

#chart_altitude {
    float: center;
    width: 100%;
    text-align: center;
    background-color: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
}

/*======== Part 4: Zoom & Acceleration =======*/

.staticChart {
    overflow: visible;
    margin: 0px;
    align-items: center;
    justify-content: center;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 30px 30px 30px 30px;
}

#chart_ZoomAccel {
    overflow: scroll;
    float: center;
    width: 100%;
    text-align: center;
    background-color: none;
    font-family: 'IBM Plex Sans', sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
}

#hover_text_scatter {
    pointer-events: none;
    font-size: 1.1em;
    font-family: 'IBM Plex Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
}

.dropdown {
    position: relative;
    width: 100%;
    text-align: center;
}

/*To remove button from IE11, thank you Matt */
/* select.dropdown::-ms-expand {
    display: none;
} */

.dropdown:after {
    font-size: 1.1em;
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: 400;
    right: 25px;
    content: '↓';
    position: relative;
    pointer-events: none;
    /* background-color: aqua; */

}

.dropdown select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: static;
    width: 150px;
    text-align: center;
    margin-top: 20px;
    padding: 10px 10px 10px 0px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, 1);
    background-image: none;
    font-size: 1.1em;
    font-family: 'Philosopher', sans-serif;
    font-style: normal;
    font-weight: 400;
    cursor: pointer;
}

/*======== Part 5 =======*/

#final {
    margin-top: 100px;
    width: 10vw;
    border-radius: 30px;
}



@media screen and (min-width: 1024px) {


    .photos img {
        width: calc(100%/50);
        height: calc(100%/50);
    }

    /* 
    .vl_02 {
        margin-top: 15vw;
        float: right;
        width: 40vw;
        border-left: 1px solid black;
        height: 30vw;
    } */



}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .photos img {
        width: calc(100%/40);
        height: calc(100%/40);
    }

    .vl_01 {
        height: 40%;
    }

    .vl_02 {
        margin-top: 10vw;
        height: 20vw;
    }

    .description {
        padding-bottom: 30px;
        padding-left: 15vw;
        padding-right: 15vw;
        line-height: 1.5em;
    }



    #buttonControl {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        position: absolute;
        z-index: 99;
        margin: 0;
        margin-top: 20px;
    }


    #btnPrev {
        margin-left: 25vw;
        padding-left: 15px;
        padding-right: 15px;
    }

    #btnNext {
        margin-right: 25vw;
        padding-left: 15px;
        padding-right: 15px;
    }


}

@media screen and (min-width: 481px) and (max-width: 768px) {
    .photos img {
        width: calc(100%/30);
        height: calc(100%/30);
    }

    .vl_01 {

        height: 40%;
    }

    .vl_02 {
        margin-top: 10vw;
        height: 20vw;
    }

    #btn_part1 {
        margin-left: 3px;
        margin-right: 3px;
    }

    .description {
        padding-bottom: 30px;
        padding-left: 14vw;
        padding-right: 14vw;
        line-height: 1.5em;

        font-size: 1rem;
    }



    #buttonControl {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        position: absolute;
        z-index: 99;
        margin: 0;
        margin-top: 20px;
    }

    #btnPrev {
        margin-left: 18vw;
        padding-left: 15px;
        padding-right: 15px;
    }

    #btnNext {
        margin-right: 18vw;
        padding-left: 15px;
        padding-right: 15px;
    }



    #underline_part2 {
        font-size: 1.1rem;
    }

}

@media screen and (min-width: 375px) and (max-width: 480px) {
    #btn_cover_1 {
        display: block;
        position: fixed;
        top: 0px;
        right: 0;
        margin-top: 10vh;
        margin-right: -40px;
        margin-left: 0px;
        margin-bottom: 0px;
        padding: 0;
        transform: rotate(90deg);
        color: black;
    }

    #btn_cover_2 {
        display: block;
        position: fixed;
        float: inline-end;
        top: 10px;
        right: 0%;
        margin-top: 90vh;
        margin-left: 10px;
        margin-bottom: 0px;
        padding: 0;
        transform: rotate(90deg);
        color: black;
        background-color: rgba(255, 255, 255, 0);

        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;
        background-color: rgba(255, 255, 255, 0);

        color: black;
        font-size: 1.1em;
        font-family: 'Philosopher', sans-serif;
        font-style: normal;
        font-weight: 400;
    }

    .description {
        padding-bottom: 30px;
        padding-left: 14vw;
        padding-right: 14vw;
        line-height: 1.5em;

        font-size: 1rem;

    }

    .btn {
        z-index: 99;
        color: black;
        border: 1px black;
        border-style: solid;
        padding: 10px;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 1);
        font-size: 1rem;
        font-family: 'Philosopher', sans-serif;
        font-style: normal;
        font-weight: 400;
    }

    .photos img {
        width: calc(100%/20);
        height: calc(100%/20);
    }

    .vl_01 {

        height: 30%;
    }


    #btn_part1 {
        margin-left: 3px;
        margin-right: 3px;
    }


    #buttonControl {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        position: absolute;
        z-index: 99;
        margin: 0;
        margin-top: 20px;
    }

    #btnPrev {
        margin-left: 9vw;
        padding-left: 15px;
        padding-right: 15px;
    }

    #btnNext {
        margin-right: 9vw;
        padding-left: 15px;
        padding-right: 15px;
    }

    #underline_part2 {
        font-size: 1.1rem;
    }

}

@media screen and (max-width: 320px) {
    #btn_cover_1 {
        display: block;
        position: fixed;
        top: 0px;
        right: 0;
        margin-top: 10vh;
        margin-right: -40px;
        margin-left: 0px;
        margin-bottom: 0px;
        padding: 0;
        transform: rotate(90deg);
        color: black;
    }

    #btn_cover_2 {
        display: block;
        position: fixed;
        float: inline-end;
        top: 10px;
        right: 0%;
        margin-top: 90vh;
        margin-left: 10px;
        margin-bottom: 0px;
        padding: 0;
        transform: rotate(90deg);
        color: black;
        background-color: rgba(255, 255, 255, 0);

        border-top: none;
        border-left: none;
        border-right: none;
        border-bottom: 1px solid black;
        background-color: rgba(255, 255, 255, 0);

        color: black;
        font-size: 1.1em;
        font-family: 'Philosopher', sans-serif;
        font-style: normal;
        font-weight: 400;
    }

    .description {
        padding-bottom: 30px;
        padding-left: 14vw;
        padding-right: 14vw;
        line-height: 1.5em;

        font-size: 1rem;

    }

    .btn {
        z-index: 99;
        color: black;
        border: 1px black;
        border-style: solid;
        padding: 10px;
        border-radius: 30px;
        background-color: rgba(255, 255, 255, 1);
        font-size: 1rem;
        font-family: 'Philosopher', sans-serif;
        font-style: normal;
        font-weight: 400;
    }

    .photos img {
        width: calc(100%/15);
        height: calc(100%/15);
    }

    .vl_01 {

        height: 30%;
    }


    #btn_part1 {
        margin-left: 3px;
        margin-right: 3px;
    }


    #buttonControl {
        display: flex;
        justify-content: space-between;
        width: 100vw;
        position: absolute;
        z-index: 99;
        margin: 0;
        margin-top: 20px;
    }

    #btnPrev {
        margin-left: 4vw;
        padding-left: 12px;
        padding-right: 12px;
    }

    #btnNext {
        margin-right: 4vw;
        padding-left: 12px;
        padding-right: 12px;
    }

    #underline_part2 {
        font-size: 1.1rem;
    }
}